.about-dharini-text {
    color: white; 
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    padding-bottom: 2em;
    flex-direction: row;
    align-items: center;
}

#green-bunny {
    height: 20em;
}

@media screen and (max-width: 550px) {
    .about-dharini-text {
        flex-direction: column;
    }
    #green-bunny-container {
        height: 9em;
    }
    #green-bunny {
        height: 22%;
        width: 22%;
    }
}