.header-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.explanation-box {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}

#bunny {
    height: 35%;
    width: 35%;
    margin-left: 2em;
}

.header-text {
    color: white;
    margin-bottom: 2em;
}

.regular-text {
color: white; 
display: flex; 
}

#about-ilaria-bunny {
  height: 18em;
}

@media screen and (max-width: 1050px) {
  .regular-text {
      flex-direction: column;
  }
}

.about-ilaria {
    display: flex; 
    padding-top: 3em;
    padding-bottom: 3em;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: white; 
    margin-left: 2em;
    margin-right: 2em;
}

@media screen and (max-width: 650px) {
  .about-ilaria {
    display: flex; 
  }
}

@media screen and (max-width: 550px) {
  .header {
     flex-direction: column;
  }
  .explanation-box {
    margin-right: 1em;
    margin-left: 1em;
  }
  .header-container {
    display: flex;
  }
  .about-ilaria {
    flex-direction: column-reverse;
  }

  #about-ilaria-bunny {
    height: 22%;
    width: 22%;
    padding-bottom: 1em;
  }
}